/*all*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
}

/*Header*/

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background: #fff;
    box-shadow: 0 4px 25px -22px black;
    z-index: 2;
}

.header-content{
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between; ;
}

.logo{
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo h1 b{
    color: #46a2fd;
}

.menu{
    height: 80px;
}
.menu nav{
    height: 100%;
}
.menu nav ul{
    height: 100%;
    display: flex;
    list-style: none;
}
.menu nav ul li{
    height: 100%;
    margin: 0px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu nav ul li a:hover{
    color: #46a2fd;

}

/*Portada*/

.container-cover {
    width: 100%;
    height: 500px;
    position: relative;
    margin-top: 80px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    animation: changeBackground 45s infinite  ease-in-out;
}



@keyframes changeBackground {
    0%, 100% {
        background-image: url(foto2.png);
    }
    33.33% {
        background-image: url(foto3.png);
    }
    66.66% {
        background-image: url(foto1.png);
    }
}


.container-info-cover{
    max-width: 800px;
    height: 500px;
    margin: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
}

.container-info-cover h1{
    font-size: 60px;
    font-weight: 500;
    color: #fff;
    margin-bottom: 20px;

}
.container-info-cover p{
    color: #fff;
    font-size: 20px;
    font-weight: 300;

}

/*Contenido principal*/

.container-content{
    width: 1200px;
    margin: auto;
    margin-top: 40px;

}
.article{
    width: 100%;
    padding: 20px;
    padding-bottom: 40px;
    box-shadow: -10px 0 20px -30px black;
    position: relative;
    border-radius: 6px;
    overflow: hidden;
}

.article h1{
    margin-top: 20px;
    font-weight: 500;
    font-size: 40px;

}
.article p{
    margin-top: 20px;
    font-size: 18px;

}

.article img{
    width: 100%;
    margin-top: 20px;
}

/*Footer*/

.cointainer-footer{
    width: 100%;
    padding: 40px 0;
    background: #f7f7f7;
    margin-top: 40px;
}
.cointainer-footer footer{
    max-width: 1200px;
    margin: auto;
}